@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* limpiar propiedades que vienen por default */

a{
    text-decoration: none;
    color: black;
}
 
ul{
    list-style-type: none;
}

img{
    width: 25%;
}
input{
    
}

/* estilando los contenedores principales*/

main{
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    align-items: center;
}
.hero{
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    
   
}
.seccionDos{
    padding: 4.5rem 0;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.ourvision{
    padding: 4.5rem 0;
    background-color: coral;
    display: flex;
}

.pasos{
    padding: 4.5rem 0;
    background-color: darkolivegreen;
}
.chose{
    padding: 4.5rem 0;
    background-color: darkgoldenrod;
    display: flex;
}
.contenidoHero{
    background-color: red;
    flex-basis: 60%;
}

/* subcontenedores de los principales*/
/* .seccionDos .contenedorCards{
    display: flex;
}
 .pasos .contenedorPasos{
    display: flex;
 } */

/* estilos para las etiquetas de los contenedores */
header h2{
    font-size: 3rem;
    color: white;
}
header a{
    margin-left: 2rem;
    /* background-color: red; */
}

.contenidoHero h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.contenidoHero p{
    font-size: 2rem;
    margin-bottom: 3rem;

}
.contenidoHero input{
    
    margin-bottom: 3rem;
    border: none;
    padding:2rem 0; 
    border-radius: 25rem;
    width: 25rem;

}

/*hovers*/
header a:hover{
    background-color: blue;
}


/*seccion para las clases*/
.alineardeaDos{
    display:flex;
}

.contenedordeCuatro{
    display: flex;
}

.contenedorNumeros{
    display: flex;
}