@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* limpiar propiedades que vienen por default */

a{
    text-decoration: none;
    color: black;
}
 
ul{
    list-style-type: none;
}

img{
    width: 25%;
}


/* estilando los contenedores principales*/

header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
}
.hero{
    background-color: aquamarine;
    display: flex;
    height: 80vh;
}
.seccionDos{
    padding: 4.5rem 0;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.ourvision{
    padding: 4.5rem 0;
    background-color: coral;
    display: flex;
}

.pasos{
    padding: 4.5rem 0;
    background-color: darkolivegreen;
}
.chose{
    padding: 4.5rem 0;
    background-color: darkgoldenrod;
    display: flex;
}

/* subcontenedores de los principales*/
/* .seccionDos .contenedorCards{
    display: flex;
}
 .pasos .contenedorPasos{
    display: flex;
 } */

/*seccion para las clases*/
.alineardeaDos{
    display:flex;
}

.contenedordeCuatro{
    display: flex;
}